<?xml version="1.0" encoding="UTF-8"?>
<server description="demo">

    <featureManager>
        <feature>jpa-2.2</feature>
        <feature>servlet-4.0</feature>
        <feature>beanValidation-2.0</feature>
        <feature>jsf-2.3</feature>
        <feature>cdi-2.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443"/>

    <dataSource id="DefaultDataSource">
        <jdbcDriver libraryRef="h2-library"/>
        <properties URL="jdbc:h2:mem:demo"/>
    </dataSource>

    <library id="h2-library">
        <file name="${server.config.dir}/h2-1.4.200.jar"/>
    </library>

</server>
